# Project exclude paths
/.gradle/
/build
/app/google-services.json
/app/release/
/local.properties

build/

# Gradle cache
.gradle

/.idea/
*.iml

.DS_Store
/captures
.externalNativeBuild
.cxx

# Kotlin
.kotlin