name: Android Build CI Pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:

    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 30

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo MyLibrary code checked out

      - name: Set up the JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Create google-services.json
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: touch ./app/google-services.json && echo $DATA | base64 -d > ./app/google-services.json

      # https://github.blog/changelog/2024-04-02-github-actions-hardware-accelerated-android-virtualization-now-available/
      - name: Enable KVM group perms
        run: |
            echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
            sudo udevadm control --reload-rules
            sudo udevadm trigger --name-match=kvm

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true

      - name: Check code
        run: ./gradlew spotlessCheck

      - name: Run Unit Tests
        run: ./gradlew testStandardDebugUnitTest

      - name: Run instrumented tests on GMD (standardDebug)
        run: |
          ./gradlew :app:mediumPhoneApi35StandardDebugAndroidTest \
            -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect

      - name: Upload AndroidTest reports & screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: android-instrumented-test-output
          path: |
            app/build/reports/androidTests/managedDevice/**
            app/build/outputs/managed_device_android_test_additional_output/**
          if-no-files-found: ignore

